h1 {
	color:#1616BC;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	text-align: center;
	font-style: italic;
	font-size: 40px;
}
.deKoning  {
    display: block;
    margin-left: auto;
    margin-right: auto 
} 

body {background-color:#EFFBF8;}
