h1 {
	color:#F93636;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	text-align: center;
	font-style: italic;
	font-size: 60px;
}
.deKoning  {
    display: block;
    margin-left: auto;
    margin-right: auto 
} 

body {background-color:#FFDCDC;}
